@model IEnumerable<eCart.Models.ItemMaster>

<div class="row">
     <div class="col-sm-12">
         <h3> Featured Items </h3>
    </div>
    @foreach (var item in Model)
    {

     <div class="col-sm-2 item-list">
        <img src="~/img/placeholders/placeholder-images-product-2.png" />
        <div class="item-desc">
            <h4> @item.Name </h4>
            @Html.ActionLink("View Products", "Products", "Merchant", new { area = "", id = item.Id }, null)
        </div>
     </div>

    }

</div>

