@model IEnumerable<eCart.Models.StoreItem>

<div class="row">
     <div class="col-sm-12">
        <h3> Items List </h3>
    </div>
    @foreach (var item in Model)
    {

     <div class="col-sm-2 item-list">
        <img src="~/img/placeholders/placeholder-images-product-2.png" />
        <div class="item-desc">
            <h4> @item.ItemMaster.Name </h4>
            <b class="text-success"> Price : @item.UnitPrice </b>
        </div>
     </div>

    }

</div>

<hr />
