@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eCart Online Shopping</h1>
    <p class="lead"> <a href="~/Home/AboutHow"> How It Works? </a> </p>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3> <a href="~/StoreDetails/StoreList"> Store List </a> </h3>
    </div>
    <div class="col-sm-3 store-item">
        <img src="~/img/placeholders/company-logo.jpg" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 1</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
    <div class="col-sm-3 store-item">
        <img src="~/img/placeholders/company-logo-2.png" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 2</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
    <div class="col-sm-3 store-item">
        <img src="~/img/placeholders/company-logo-3.jpg" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 2</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
    <div class="col-sm-3 store-item">
        <img src="~/img/placeholders/company-logo.jpg" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 2</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-12">
        <h3> Items List </h3>
    </div>
    <div class="col-sm-2 item-list">
        <img src="~/img/placeholders/placeholder-images-product-2.png" />
        <div class="item-desc">
            <h4> Item Name </h4>
            <b class="text-success"> Price $$$$ </b>
        </div>
    </div>
    <div class="col-sm-2 item-list">
        <img src="~/img/placeholders/placeholder-images-product-2.png" />
        <div class="item-desc">
            <h4> Item Name </h4>
            <b class="text-success"> Price $$$$ </b>
        </div>
    </div>
    <div class="col-sm-2 item-list">
        <img src="~/img/placeholders/placeholder-images-product-2.png" />
        <div class="item-desc">
            <h4> Item Name </h4>
            <b class="text-success"> Price $$$$ </b>
        </div>
    </div>
    <div class="col-sm-2 item-list">
        <img src="~/img/placeholders/placeholder-images-product-2.png" />
        <div class="item-desc">
            <h4> Item Name </h4>
            <b class="text-success"> Price $$$$ </b>
        </div>
    </div>
    <div class="col-sm-2 item-list">
        <img src="~/img/placeholders/placeholder-images-product-2.png" />
        <div class="item-desc">
            <h4> Item Name </h4>
            <b class="text-success"> Price $$$$ </b>
        </div>
    </div>
    <div class="col-sm-2 item-list">
        <img src="~/img/placeholders/placeholder-images-product-2.png" />
        <div class="item-desc">
            <h4> Item Name </h4>
            <b class="text-success"> Price $$$$ </b>
        </div>
    </div>
</div>


