body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Store Listings */
.store-item{
    padding:5px;
}


.store-item:hover {
    border: 1px solid lightgray;
}


.item-list {
    display:flex; 
    flex-direction: column;
    width: 190px;
    height: 305px;
    padding: 7px;
    margin:2px;
}

.item-list img {
    width: 100% ;
    flex: 1;
}
.item-list:hover {
    border: 1px solid lightgray;
}

.item-desc{
    position:relative;
}

.bordered{
    border:1px solid lightgray;
}

.admin-panel-items {
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 18px;
    width: 100%;
    transition: 250ms;
}

.admin-panel-items img {
    height:40px;
}


.admin-panel-items:hover {
    box-shadow: 0px 0px 2px 1px dodgerblue;
    text-decoration:none;
}


/* Cart Styles */
.cart-shopper-panel{
    border-bottom:0px;
    box-shadow:0px;
    display:flex;
    flex-wrap:wrap;
    margin:0px -20px;
    padding:2px;
}



.panel-carts {
    padding: 10px 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 5px 0px;
}

.panel-carts h4{
    color: royalblue;
}

.cart-item{
    margin:5px 2px;
    padding:5px;
    border: 1px solid lightgray;
    border-radius:5px;
}

.cart-item img {
    padding:0px;
    margin-right: 3px;
}


.cart-item p {
    font-size:12px;
    padding: 1px;
}

.cart-remove-item {
    position: absolute;
    background-color:white;
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 20px;
    height: 22px;
    color: lightgray;
    text-align: center;
    top: -4px;
    right: -4px;
    cursor: pointer;
    transition: 300ms;
}

.cart-remove-item:hover {
    background-color: red;
    border: 1px solid red;
    color: white;
    box-shadow: 0px 0px 1px 1px red;
}

.cart-summary-remove-item {
    border-radius: 50%;
    border: 1px solid whitesmoke;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: 200ms;
    color: gray;
}
.cart-summary-remove-item:hover {
    background-color: red;
    border: 1px solid red;
    color: white;
}


/* Shopper Styles */
.panel {
    padding: 0px 0px;
}

.panel table tr td, .panel table tr th   {
    padding-left: 15px;
}


.container-panel {
    padding: 10px 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 5px 0px;
}


/* Summary Cart */
.cart-summary-store {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.cart-summary-pickup {
    padding: 2%;
    color: gray;
    flex: 1;
}