
@{
    ViewBag.Title = "Login";
}


<div class="row" style="margin-top:50px;">

    <div class="col-md-6 login-form" style="bottom:50px;left:80px;">
    </div>
    
    <div class="col-md-6 login-form" style="top:0px;">

        <h2> <span style="color:royalblue;">Admin</span> Login</h2>

        @using (Html.BeginForm())
        {
            <div class="form-group">
                <input type="text" class="form-control" placeholder="email" />
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="password" />
            </div>

            <button class="btn btn-default" type="submit" value="Submit"> Login </button>

        }
    </div>


</div>
