@model IEnumerable<eCart.Models.StoreItem>

@{
    ViewBag.Title = "ItemList";
}
<div class="jumbotron">
    <h2> Store List </h2>
</div>

<div class="row" style="margin-bottom:50px;">
    <div class="col-sm-6 store-item">
        <img src="~/img/placeholders/company-logo.jpg" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 1</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
    <div class="col-sm-6 store-item">
        <img src="~/img/placeholders/company-logo.jpg" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 2</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-3 store-item">
        <img src="~/img/placeholders/company-logo-3.jpg" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 1</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
    <div class="col-sm-3 store-item">
        <img src="~/img/placeholders/company-logo-3.jpg" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 2</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
    <div class="col-sm-3 store-item">
        <img src="~/img/placeholders/company-logo-3.jpg" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 2</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
    <div class="col-sm-3 store-item">
        <img src="~/img/placeholders/company-logo-3.jpg" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 2</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 store-item">
        <img src="~/img/placeholders/company-logo-2.png" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 1</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
    <div class="col-sm-3 store-item">
        <img src="~/img/placeholders/company-logo-2.png" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 2</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
    <div class="col-sm-3 store-item">
        <img src="~/img/placeholders/company-logo-2.png" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 2</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
    <div class="col-sm-3 store-item">
        <img src="~/img/placeholders/company-logo-2.png" class="col-sm-6" />
        <div class="col-sm-6">
            <h4> Store 2</h4>
            <span class="badge badge-pill badge-primary">Category</span>
            <br /><br /><a href="/StoreDetails/ItemList">View Products</a>
        </div>
    </div>
</div>