
@{
    ViewBag.Title = "Index";
}

    <div class="row">
        <div class="panel col-lg-12 ">
            <div class="col-lg-10">
                <img src="~/img/placeholders/company-logo.jpg" class="col-sm-2" />
                <div class="col-sm-8">
                    <h2> Store Name</h2>
                    <p> Address: </p>
                    <p> Categories</p>
                </div>

            </div>
            <div class="col-lg-2">
                <button class="btn btn-default" style="margin:5px;width:100%;"> Store Items </button>
                <button class="btn btn-default" style="margin:5px;width:100%;"> Pickup Points </button>
            </div>
        </div>
        <div class="col-lg-12">
            <h2> Shoppers Carts </h2>
            <hr />
        </div>
        <div class="panel col-lg-12">
            <div class="store-cart">
                <h4> Cart # </h4>
                <p> Shopper Details  </p><hr />
                <p> Shopper Items  </p>
            </div>
        </div>
        <div class="panel col-lg-12">
            <div class="store-cart">
                <h4> Cart # </h4>
                <p> Shopper Details  </p><hr />
                <p> Shopper Items  </p>
            </div>
        </div>
        <div class="panel col-lg-12">
            <div class="store-cart">
                <h4> Cart # </h4>
                <p> Shopper Details  </p><hr />
                <p> Shopper Items  </p>
            </div>
        </div>

    </div>