@model eCart.Models.StoreDetail

@{
    ViewBag.Title = "Index";
}

    <div class="row">
        <div class="panel-carts col-lg-12 ">
            <div class="col-lg-10">
                <img src="~/img/placeholders/company-logo.jpg" class="col-sm-2" />
                <div class="col-sm-8">
                    <h2> @Model.Name </h2>
                    <p class="text-muted"> Address: <b>@Model.Address</b> </p>
                    <p class="text-muted"> Categories: <b>@Model.StoreCategory.Name</b> </p>
                </div>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-default"  href="@Url.Action("Index","StoreItems",new { id = ViewBag.StoreId })" style="margin:5px;width:100%;" >
                    Store Items
                </a>
                <button class="btn btn-default" style="margin:5px;width:100%;"> Pickup Points </button>
            </div>
        </div>
        <div class="col-lg-12">
            <h2> Active Shoppers Carts </h2>
            <hr />
        </div>
        <div class="panel-carts col-lg-12">
            <div class="store-cart">
                <h4> Cart # </h4>
                <p> Shopper Details  </p><hr />
                <p> Shopper Items  </p>
            </div>
        </div>
    </div>