@model IEnumerable<eCart.Models.RiderDetail>

@{
    ViewBag.Title = "Index";
}


<div class="panel bordered" >
    <div class="panel-body">
        <h2>Rider Details </h2>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <h4><b> Carts Active </b></h4>
                <table class="table bordered">
                    <thead>
                        <tr>
                            <th> CartID </th>
                            <th> Date </th>
                            <th> Shopper </th>
                            <th> Location </th>
                            <th> Amount </th>
                            <th> Status </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>