
@{
    ViewBag.Title = "Register";
}


<div class="row" style="margin-top:100px;">

    <div class="col-md-6 login-form" style="top:0px;left:350px;margin-bottom:100px;">
        <h1 style="color:royalblue;margin-left:70px;"> Shopper </h1>
        <h3 style="margin-left:30px;"> Register an Account</h3>
        <br />
        <div class="form-group">
            <input type="text" class="form-control" placeholder="email" />
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="password" />
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="retype password" />
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Mobile Number" />
        </div>

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Address" />
        </div><br />

        <button class="btn btn-success" type="submit"> Register </button>


    </div>


</div>
